âœ… Dataset QA & Consistency Pass
(Programmatic, reproducible, journal-grade)
We will validate five dimensions:1. Schema integrity, 2. ID uniqueness continuity, 3.Category / subcategory balance, 4.Missing / malformed fields, and 5. Difficulty & source distribution

In [ ]:
# âœ… Step 0 Reproducibility Header
import numpy as np
import random
import os

SEED = 42
random.seed(SEED)
np.random.seed(SEED)

print("Reproducibility seed set to:", SEED)
print("Working directory:", os.getcwd())

Reproducibility seed set to: 42
Working directory: /content

In [ ]:
# ðŸ§ª Step 1 â€” Load Dataset from Google Drive (Reproducible Path)

from google.colab import drive
drive.mount('/content/drive')

from pathlib import Path
import pandas as pd

# Base directory for the project in Google Drive
BASE_DIR = Path("/content/drive/MyDrive/FinGuardSDG")
DATA_DIR = BASE_DIR / "data"

# Ensure the data directory exists
DATA_DIR.mkdir(parents=True, exist_ok=True)

# Path to the benchmark dataset (input file)
DATA_PATH = DATA_DIR / "FinGuard_SDG_Benchmark_v_1.0.csv"

print("Loading dataset from:", DATA_PATH)

df = pd.read_csv(DATA_PATH)
print("Total rows:", len(df))
print("Columns:", list(df.columns))

Mounted at /content/drive
Loading dataset from: /content/drive/MyDrive/FinGuardSDG/data/FinGuard_SDG_Benchmark_v_1.0.csv
Total rows: 1160
Columns: ['id', 'category', 'subcategory', 'question_text', 'answer_text', 'difficulty', 'source']

In [ ]:
# ðŸ§ª Step 2 â€” Dataset Integrity Check (Reproducibility)
# Computes a cryptographic hash to uniquely identify the dataset version

import hashlib

dataset_hash = hashlib.sha256(open(DATA_PATH, "rb").read()).hexdigest()
print(f"Dataset SHA256: {dataset_hash}")

Dataset SHA256: f1b46f87d6ab9fbea7ceb9f7c236c51984af381980032f1fe5994e316bbae0ef

In [ ]:
# ðŸ§ª Step 3 â€” Duplicate Row Check

# Check uniqueness
print("Unique IDs:", df['id'].nunique())

# Find duplicates (if any)
duplicates = df[df.duplicated('id', keep=False)]
print("Duplicate rows:", len(duplicates))
duplicates.head()

Unique IDs: 1160
Duplicate rows: 0

Empty DataFrame
Columns: [id, category, subcategory, question_text, answer_text, difficulty, source]
Index: []

In [ ]:
# ðŸ§ª Step 4 â€” Category Distribution Check

df['category'].value_counts()

category
quantitative    440
advisory        260
conceptual      240
esg             220
Name: count, dtype: int64

In [ ]:
# ðŸ§ª Step 5 â€” Subcategory Coverage (sorted for readability)

subcategory_counts = (
    df.sort_values(["category", "subcategory"])
      .groupby(["category", "subcategory"])
      .size()
)

subcategory_counts

category      subcategory
advisory      asset_allocation             80
              esg_advisory                 50
              investor_profiling           60
              market_scenarios             70
conceptual    behavioral_finance           40
              corporate_finance            40
              financial_intermediation     15
              financial_markets            40
              financial_regulation         15
              market_efficiency            40
              risk_return_theory           50
esg           environment_climate          25
              environment_energy           20
              environment_transition       25
              esg_fundamentals             20
              esg_reporting                20
              governance_board             20
              governance_disclosure        20
              governance_ethics            20
              social_inclusion             25
              social_labor                 25
quantitative  advanced_tvm                 45
              bond_convexity                7
              bond_duration                13
              bond_mixed                   20
              bond_pricing                 20
              capm                          5
              derivatives                   6
              duration                      5
              equity_valuation             50
              futures_basics               10
              mixed_derivatives            16
              options                      10
              options_basics               35
              portfolio_beta               10
              portfolio_capm               11
              portfolio_diversification    15
              portfolio_math               10
              portfolio_returns            15
              portfolio_risk                9
              risk_dispersion               6
              risk_downside                 5
              risk_expected_shortfall       5
              risk_metrics                  9
              risk_var                     10
              risk_volatility              14
              swaps_basics                  9
              time_value_of_money          70
dtype: int64

In [ ]:
# ðŸ§ª Step 6 â€” Missing / NaN Check
df.isnull().sum()

id               0
category         0
subcategory      0
question_text    0
answer_text      0
difficulty       0
source           0
dtype: int64

In [ ]:
# ðŸ§ª Step 7 â€” Empty string ("") Check
(df == "").sum()

id               0
category         0
subcategory      0
question_text    0
answer_text      0
difficulty       0
source           0
dtype: int64

In [ ]:
# ðŸ§ª Step 8 â€” Whitespace-only Check (strings containing only spaces)
(df.applymap(lambda x: isinstance(x, str) and x.strip() == "")).sum()

/tmp/ipython-input-1760799357.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  (df.applymap(lambda x: isinstance(x, str) and x.strip() == "")).sum()

id               0
category         0
subcategory      0
question_text    0
answer_text      0
difficulty       0
source           0
dtype: int64

In [ ]:
# ðŸ§ª Step 9 â€” Compute number of questions by difficulty level
# (Overall Difficulty distribution)
df['difficulty'].value_counts()

difficulty
2    565
1    502
3     93
Name: count, dtype: int64

In [ ]:
# ðŸ§ª Step 10 â€” Difficulty Balance

df.groupby('category')['difficulty'].value_counts(normalize=True)

category      difficulty
advisory      1             0.569231
              2             0.430769
conceptual    2             0.525000
              1             0.337500
              3             0.137500
esg           2             0.595455
              1             0.372727
              3             0.031818
quantitative  2             0.445455
              1             0.434091
              3             0.120455
Name: proportion, dtype: float64

In [ ]:
# ðŸ§ª Step 11 â€” Source Distribution

df['source'].value_counts()

source
literature-inspired    852
template               209
synthetic               99
Name: count, dtype: int64

Routing Stress Check (Diagnostic Only)
This analysis identifies linguistically ambiguous queries containing overlapping intent cues.
It is used solely for diagnostic interpretation of routing behavior and does not alter dataset composition or experimental splits.

In [ ]:
# ðŸ§ª Step 12 â€” Routing Stress Check
# This analyzes a subset of questions containing explicit intent cues
# (not the full dataset)

print("Total dataset size:", len(df))

stress_subset = df[df['question_text'].str.contains(
    r'calculate|compute|what is|how should|why',
    case=False, regex=True
)]

print("Stress subset size:", len(stress_subset))

Total dataset size: 1160
Stress subset size: 596

In [ ]:
# ðŸ§ª Step 13 â€” Routing Stress Check

df[df['question_text'].str.contains(
    r'calculate|compute|what is|how should|why',
    case=False, regex=True
)].groupby('category').size()

category
advisory        153
conceptual      145
esg             121
quantitative    177
dtype: int64

In [ ]:
# ðŸ§ª Step 14 â€” Save Clean Dataset + QA Summary to Google Drive

clean_path = BASE_DIR / "data" / "FinGuard_SDG_Benchmark_v1.0_clean.csv"
summary_path = BASE_DIR / "data" / "FinGuard_SDG_QA_summary_v1.0.json"

# Ensure /data directory exists
(DATA_DIR := BASE_DIR / "data").mkdir(parents=True, exist_ok=True)

# Save the cleaned benchmark dataset
df.to_csv(clean_path, index=False)

# Prepare QA summary dictionary
qa_summary = {
    "total_rows": len(df),
    "unique_ids": df['id'].nunique(),
    "category_counts": df['category'].value_counts().to_dict(),
    "difficulty_distribution": df['difficulty'].value_counts().to_dict(),
    "source_distribution": df['source'].value_counts().to_dict()
}

# Save summary JSON
import json
with open(summary_path, "w") as f:
    json.dump(qa_summary, f, indent=2)

# âœ” Add these print statements
print("\nClean dataset saved at:", clean_path.resolve())
print("QA summary saved at:", summary_path.resolve())

Clean dataset saved at: /content/drive/MyDrive/FinGuardSDG/data/FinGuard_SDG_Benchmark_v1.0_clean.csv
QA summary saved at: /content/drive/MyDrive/FinGuardSDG/data/FinGuard_SDG_QA_summary_v1.0.json